body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 1rem;

}
table {
    width: 100%;            border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 10px;            text-align: left;
}
th {
    background-color: #f2f2f2;
}
.bullet{display: list-item; list-style-position: inside;
}

h1,
h2,
h5 {
    color: #333;
    padding: 1rem;
}


p {
    padding: 1.5rem;
    margin: 1rem;
    text-align: justify;
    border: solid 1px #1a1a1a;
    background-color: lightgray;
}

iframe {
    margin-bottom: 20px;
}

.nav-link{
    text-align: center;
    color: #000000;
}

.btn{
    color: #ffffff;
    font: 16px, Arial, sans-serif;
    background-color: #007BFF;
    margin: 8px 0px 0px;
    padding: 6px 12px;
}

body.night-mode {
    background-color: #1a1a1a;
    color: #ffffff;   
}

body.night-mode h1 {
    color: #ffffff;
}

body.night-mode h2 {
    color: #ffffff;
}

body.night-mode h5 {
    color: #ffffff;
}
body.night-mode .btn {
    color: #000000;
    background-color: #007BFF;}

body.night-mode p {
        color: #000000;
}

body.night-mode .nav-link{
    color: #ffffff;
}

