body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1,
h2,
h5 {
    color: #333;
    padding: 1rem;
}

p {
    padding: 1.5rem;
    margin: 1rem;
    text-align: justify;
    border: solid 1px #1a1a1a;
    background-color: lightgray;
}

iframe {
    margin-bottom: 20px;
}


/* styles.css */

body.night-mode {
    background-color: #1a1a1a;
    /* Change background to dark color */
    color: #ffffff;
    /* Change text color to white */
}

body.night-mode h2 {
    color: #ffffff;
    /* Change text color to white */
}

body.night-mode {
    background-color: #1a1a1a;
    /* Change background to dark color */
    color: #ffffff;
    /* Change text color to white */
}